@import "../../../styles/settings.scss";

.basket {
  visibility: hidden;
  overflow: hidden;
  z-index: 999;
  background-color: $bgc-gray;
  position: absolute;
  width: 100%;
  padding: 20px;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 120%);
  transition: 0.3s linear all;
  opacity: 0;
  max-height: 400px;
  &__empty {
    line-height: 150px;
  }
  &__products {
    overflow: auto;
    max-height: 180px;
  }
  &__context {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: black;
  }
  &__amount {
    margin-left: 20px;
    font-size: 14px;
  }
  &__title {
    text-align: center;
  }
  &__subTitle {
    line-height: 1.6;
    font-size: 18px;
    font-weight: 500;
  }
  &__button {
    background-color: black;
    width: 50%;
    padding: 5px 10px;
    border: none;
    font-size: 14px;
    a {
      color: white;
      text-decoration: none;
    }
  }
  &__price {
    margin: 10px 20px;
    font-size: 22px;
    font-weight: 700;
  }
  &__active {
    visibility: visible;
    transform: translate(-50%, 100%);
    opacity: 1;
  }
}

.basketProduct {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  overflow: hidden;
  height: auto;
  min-height: 150px;
  margin: 15px 0;
  background-color: $bgc-smokeWhite;
  color: black;
  text-align: left;
  overflow: auto;
  &__image {
    margin: auto;
    width: 30%;
    height: 70%;
  }
  &__img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  &__productInfo {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    text-align: left;
  }
  &__title {
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
  }
  &__description {
    color: $color-thirdGray;
    font-size: 10px;
  }
  &__price,
  &__totalPrice {
    text-align: left;
    margin: 5px 0;
    font-size: 14px;
  }
  &__amountBox {
    text-align: right;
    margin: 0px 10px 10px;
    width: 100%;
  }
  &__amountInput,
  &__btn {
    border-radius: 3px;
    font-weight: 500;
    width: 25px;
    height: 25px;
    border-radius: 3px;
    border: none;
    outline: none;
    margin: 0 2px;
    background-color: $color-orange;
    color: white;
  }
  &__btn {
    &:last-of-type {
      margin-left: 5px;
      margin-right: 0;
      background-color: black;
      color: white;
    }
  }
  &__amountInput {
    text-align: center;
    font-size: 16px;
  }
}

.basketRead {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
  &__title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 10px;
    text-decoration: underline;
    color: $color-darkGray;
    cursor: pointer;
  }
  &__icon {
    font-size: 22px;
  }
  &__description {
    color: $color-thirdGray;
    font-size: 10px;
  }
  &__show {
    display: block;
  }
  &__hide {
    display: none;
  }
}
