@import "../../../styles/settings.scss";

.nav {
  position: absolute;
  top: 0;
  right: 0;
  background-color: white;
  z-index: 1000;
  height: 100vh;
  padding: 20px;
  text-align: right;
  color: black;
  width: 70vw;
  transform: translateX(100%);
  transition: 0.3s linear all;
  &__active {
    transform: translateX(0%);
  }
  a {
    color: black;
    text-decoration: none;
  }
  &__icon {
    color: $color-darkGray;
  }
  &__link {
    text-align: left;
    list-style-type: none;
    padding: 10px 0;
    width: 100%;
  }
  &__list {
    display: flex;
    flex-direction: column;
  }
  &__sub {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
  }
  &__subLink {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 10px 5px;
  }
}
.allCategories {
  color: white;
  padding: 10px 15px;
  background-color: #e09654;
}
.category {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #1c1c1c;
  z-index: 1000;
  height: 100vh;
  padding: 30px 0;
  text-align: right;
  color: white;
  width: 80vw;
  transform: translateX(-100%);
  transition: 0.3s linear all;
  &__active {
    transform: translateX(0%);
  }
  a {
    color: #ffffff;
    text-decoration: none;
  }
  &__list {
    text-align: left;
    list-style-type: none;
    padding: 10px 0;
    width: 100%;
  }
  &__link {
    border-bottom: 1px solid #363636;
    padding: 10px 25px;
    width: 100%;
    font-size: 13px;
    font-weight: 400;
  }
}
