@import '../../../styles/settings.scss';

.adress {
  display: flex;
  flex-direction: column;
  padding:20px;
  &__text {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100px;
    margin:10px 0;
  }
  &__icon {
    color:$color-darkGray;
    font-size: 28px;
    margin:5px 0;
  }
  &__info {
    margin-left: 20px;
  }
  &__title{
    font-weight: 500;
    margin:5px 0;
    color:black;
  }
  &__description {
    margin:10px 0;
    font-size: 14px;
    line-height: 1.5;
  }
  &__link {
    color:black;
    text-decoration: none;
    &:hover{
      color:$color-text;
    }
  }
}