@import '../../../styles/settings.scss';

.productCart {
  &__wrapper {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__select {
    border: 1px solid $border-gray;
    color: $color-darkGray;
    outline: none;
  }
  &__option {
    color: black;
  }
  &__products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin:0 10px;
  }
  &__pages {
    width:100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  &__amountBox {
    display: flex;
    flex-direction: row;
  }
  &__list {
    list-style: none;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .show {
      display: flex;
    }
    .hide {
      display: none;
    }
  }
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    margin:0 5px;
    color:black;
    border:1px solid $border-gray;
    background-color: white;
    &:hover {
      background-color: $color-text;
      color:white;
    }
  }
}
