@import "../../../../styles/settings.scss";

.product {
  padding: 20px;
  max-width: 1220px;
  margin: 0 auto;

  &__images {
    width: 40%;
    height: 100%;
  }
  &__slide {
    height: auto;
  }
  &__sale {
    display: block;

    width: 100%;
    padding: 0 10px;
  }
  &__info {
    margin: 20px 0;
  }
  &__title {
    font-size: 28px;
    color: black;
    padding: 10px 0;
  }
  &__stars {
    padding: 10px 0;
    color: black;
    font-size: 14px;
  }
  &__categories {
    display: flex;
    padding: 10px 0;
    color: black;
    font-size: 14px;
    span {
      color: $color-darkGray;
    }
  }
  &__category {
    margin-right: 10px;
    font-weight: 600;
  }
  &__price {
    color: $color-orange;
    font-size: 22px;
    padding: 10px 0;
    font-weight: 600;
  }
  &__oldPrice {
    margin: 5px 10px;
    color: #a6a6a6;
    text-decoration: line-through;
    font-weight: 400;
  }
  &__description {
    line-height: 1.5;
  }
  &__warehouse {
    margin: 20px 0;
    color: green;
    font-weight: 600;
  }
  &__amountBox {
    margin: 20px 0;
  }
  &__amountBtn {
    cursor: pointer;
    width: 45px;
    background-color: white;
    border: 1px solid $border-darkGray;
    padding: 10px;
    color: $color-gray;
    font-weight: 600;
    &:hover {
      background-color: $color-orange;
      color: white;
    }
  }
  &__amountInput {
    width: 60px;
    padding: 10px;
    margin: 0 10px;
    background-color: white;
    border: 1px solid $color-gray;
    text-align: center;
  }
  &__icon {
    color: black;
    margin-right: 10px;
  }
  &__wishList {
    cursor: pointer;
    margin: 10px 0;
    font-weight: 300;
    font-size: 16px;
    color: black;
    display: flex;
    justify-content: center;
    text-transform: capitalize;
    transition: 0.3s ease-in all;
    &:hover {
      color: $color-orange;
    }
  }
  &__add {
    border-radius: 0px;
    box-shadow: none;
    text-transform: uppercase;
    font-weight: 600;
    padding: 13px 20px 11px;
    font-size: 14px;
  }
  &__list {
    list-style-type: none;
    text-align: center;
  }
  &__item {
    cursor: pointer;
    padding: 10px;
    margin: 10px 0;
    color: black;
    font-size: 14px;
    font-weight: 300;
  }
  &__item--active {
    background-color: white;
    font-weight: 500;
  }
  &__itemBox {
    border-top: 1px solid black;
    position: relative;
    padding: 20px;
    background-color: white;
  }
  &__itemInfo {
    overflow: hidden;
    height: 0px;
    background-color: white;
    line-height: 1.5;
    font-weight: 300;
    font-size: 14px;
    color: black;
    visibility: hidden;
    transition: 0.7s linear all;
  }
  &__itemInfo--active {
    height: 150px;
    width: 100%;
    visibility: visible;
  }
}
@media (min-width: 768px) {
  .product {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    &__info {
      width: 25%;
    }
    &__sale {
      width: 50%;
    }
    &__imageBox {
      width: 60%;
      margin: 0 auto;
      max-width: 1000px;
    }
    &__images {
      width: 90%;
      max-height: 80px;
      object-fit: contain;
    }
    &__slide {
      width: calc(400px / 2);
    }
  }
}
@media (min-width: 1024px) {
  .product {
    &__imageBox {
      margin: 30px auto;
    }
    &__slide {
      width: calc(450px / 3);
    }
    &__images {
      width: 95%;
      max-height: 100px;
    }
    &__sale {
      width: 100%;
      padding: 0;
    }
  }
}
