@import "../../../../styles/settings.scss";

.productCart {
  &__wrapper {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__displayWay {
    display: none;
    width: 50%;
  }
  &__eachProduct {
    width: 50%;
    padding: 10px;
  }
  &__icon {
    cursor: pointer;
    color: black;
    font-size: 24px;
    margin-right: 10px;
    transition: 0.3s linear all;
    &:hover {
      color: $color-orange;
    }
  }
  &__select {
    background-color: white;
    border: 1px solid $border-gray;
    color: $color-darkGray;
    outline: none;
  }
  &__option {
    color: black;
    width: 50%;
  }
  &__products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 10px;
  }
  &__pages {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  &__amountBox {
    display: flex;
    flex-direction: row;
  }
  &__list {
    list-style: none;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .show {
      display: flex;
    }
    .hide {
      display: none;
    }
  }
  &__item {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    margin: 0 5px;
    color: black;
    border: 1px solid $border-gray;
    background-color: white;
    &:hover {
      background-color: $color-orange;
      color: white;
    }
    &--active {
      background-color: $color-orange;
      color: white;
    }
  }
}
@media (min-width: 768px) {
  .productCart {
    overflow: hidden;
    &__wrapper {
      height: 80px;
      padding: 20px;
      justify-content: space-between;
      align-items: flex-end;
    }
    &__displayWay {
      display: flex;
    }
    &__header {
      text-align: left;
      margin: 0;
    }
    &__eachProduct {
      width: 25%;
    }
    &__eachProduct--horizontal {
      width: 100%;
    }
  }
}
@media (min-width: 1024px) {
  .productCart {
    order: 2;
    width: 80%;
  }
}
