@import "../../../../styles/settings.scss";

.product {
  padding: 20px;
  &__image {
    background-color: white;
  }
  &__img {
    width: 100%;
    height: auto;
  }
  &__images {
    width: 50%;
    height: auto;
  }

  &__info {
    margin: 20px 0;
  }
  &__title {
    color: black;
    padding: 10px 0;
  }
  &__stars {
    padding: 10px 0;
    color: black;
    font-size: 14px;
  }
  &__categories {
    display: flex;
    padding: 10px 0;
    color: black;
    font-size: 14px;
    span {
      color: $color-darkGray;
    }
  }
  &__category {
    margin-right: 10px;
    font-weight: 600;
  }
  &__price {
    color: $color-orange;
    font-size: 22px;
    padding: 10px 0;
    font-weight: 600;
    display: flex;
    flex-direction: column;
  }
  &__oldPrice {
    margin: 5px 0;
    color: #a6a6a6;
    text-decoration: line-through;
    font-weight: 400;
  }
  &__description {
    line-height: 1.5;
  }
  &__warehouse {
    margin: 20px 0;
    color: green;
    font-weight: 600;
  }
  &__amountBox {
    margin: 20px 0;
  }
  &__amountBtn {
    width: 45px;
    background-color: white;
    border: 1px solid $border-darkGray;
    padding: 10px;
    color: $color-gray;
    font-weight: 600;
    &:hover {
      background-color: $color-orange;
      color: white;
    }
  }
  &__amountInput {
    width: 60px;
    padding: 10px;
    margin: 0 10px;
    background-color: white;
    border: 1px solid $color-gray;
    text-align: center;
  }
  &__icon {
    color: black;
  }
  &__wishList {
    margin: 10px 0;
    font-weight: 300;
    font-size: 16px;
    width: 50%;
    color: black;
    display: flex;
    justify-content: space-between;
    text-transform: capitalize;
  }
  &__add {
    border-radius: 0px;
    box-shadow: none;
    text-transform: uppercase;
    font-weight: 600;
    padding: 10px 20px;
    font-size: 14px;
  }
  &__list {
    list-style-type: none;
    text-align: center;
  }
  &__item {
    padding: 10px;
    margin: 10px 0;
    color: black;
    font-size: 14px;
    font-weight: 300;
  }
  &__item--active {
    background-color: white;
    font-weight: 500;
  }
  &__itemBox {
    position: relative;
    min-height: 250px;
    overflow: hidden;
    background-color: white;
  }
  &__itemInfo {
    position: absolute;
    background-color: white;
    padding: 20px;
    line-height: 1.5;
    font-weight: 300;
    font-size: 14px;
    transition: 0.5s linear all;
    visibility: hidden;
    transform: translateY(200px);
  }
  &__itemInfo--active {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }
}
