@import "../../../../styles/settings.scss";

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(-10%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}

.productBox {
  padding: 10px 0;
  animation: fadeIn 1s;

  &__image {
    position: relative;
    display: flex;
    min-height: 150px;
    background-color: white;
    padding: 10px;
    &:hover .productBox__buttons {
      visibility: visible;
      opacity: 1;
    }
  }

  &__img {
    width: 100%;
    object-fit: contain;
  }
  &__title {
    color: #333333;
    padding: 5px 0;
    font-size: 14px;
    font-weight: 600;
  }
  &__price {
    font-weight: 400;
    color: #000000;
    display: flex;
    flex-direction: column;
    font-weight: 600;
    font-size: 14px;
  }
  &__oldPrice {
    font-weight: 400;
    font-size: 14px;
    margin: 5px 0;
    color: #a6a6a6;
    text-decoration: line-through;
  }
  &__tags {
    top: 5px;
    left: 5px;
    position: absolute;
  }
  &__tag {
    margin-right: 5px;
    border: none;
    background-color: transparent;
    padding: 2px 5px;
    font-size: 10px;
    text-transform: capitalize;
    color: white;
  }
  &__new {
    margin-right: 5px;
    background-color: #aed6f1;
  }
  &__discount {
    background-color: $color-orange;
  }
  &__comment {
    display: none;
  }
  &__description {
    display: none;
  }
  &__buttons {
    position: absolute;
    bottom: 10px;
    display: flex;
    flex-direction: row;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s linear all;
  }
}

@media (min-width: 768px) {
  .productBox {
    &__image {
      height: 200px;
    }
    &__title {
      font-size: 16px;
    }
    &__price {
      font-size: 14px;
    }
    &__oldPrice {
      font-size: 14px;
    }
    &__tag {
      font-size: 14px;
      margin: 5px;
    }
    &__buttons {
      flex-direction: column;
      top: 0;
      right: 0;
      margin: 10px;
    }
    &__comment {
      font-size: 12px;
    }
    &--horizontal {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      position: relative;
    }
    &__info--horizontal {
      margin: 0 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
    }
    &__image--horizontal {
      width: 40%;
      position: static;
    }
    &__tag--horizontal {
      top: 15px;
      left: 15px;
    }
    &__star--horizontal {
      order: 1;
      span {
        color: black;
      }
    }
    &__price--horizontal {
      order: 2;
    }
    &__buttons--horizontal {
      visibility: visible;
      opacity: 1;
      flex-direction: row;
      align-items: flex-end;
    }
    &__button--horizontal {
      margin: 0 5px;
      min-width: 40px;
      height: 40px;
      font-size: 20px;
    }
  }
}
@media (min-width: 1024px) {
  .productBox {
    &__image {
      height: 250px;
    }
  }
}
