.images {
  position: relative;
  &__wrapper {
    display: flex;
    overflow: hidden;
  }
  &__slide {
    width: 100%;
    text-align: center;
    padding: 20px;
    opacity: 0.3;
  }
  &__arrow {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    padding: 20px;
    color: white;
  }
  &__icon {
    color: black;
    font-size: 28px;
  }
}
