@import '../../../styles/settings.scss';

.order {
  padding: 10px 20px;
  text-align: right;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: black;
  &__payBox {
    padding: 0 10px;
  }
  &__totalPay {
    padding: 20px 0;
  }
  &__delivery {
    font-size: 12px;
    span {
      margin-left: 18px;
    }
  }
  &__summary {
    margin: 10px 0;
    padding: 10px 0;
    border-top: 1px solid $border-gray;
  }
  &__finalPay {
    padding: 20px 0px;
    color: black;
    font-weight: 500;
  }
  &__discountCode {
    text-transform: capitalize;
    color: #4a89dc;
    font-size: 14px;
    padding: 20px 0;
    cursor: pointer;
  }
  &__submitBtn {
    width: 100%;
    max-width: 300px;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    color: white;
    border-radius: 3px;
    border: none;
    background-color: black;
    padding: 10px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
    outline: none;
  }
}
.eachOrder {
  &__wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 10px 15px;
    margin: 0 10px;
    background-color: white;
  }
  &__amountBox{
    padding:0 10px;
  }
  &__amountInput,
  &__btn {
    border-radius: 3px;
    font-weight: 500;
    width: 35px;
    height: 35px;
    border-radius: 3px;
    border: 1px solid $border-gray;
    outline: none;
    margin: 0 2px;
  }
  &__btn {
    &:last-of-type {
      margin-left: 10px;
      margin-right: 0;
    }
  }
  &__amountInput {
    text-align: center;
    font-size: 16px;
    color: #636b6f;
  }

  &__eachPrice {
    position: relative;
  }
  &__oldPrice {
    position: absolute;
    top: -10px;
    right: 0;
    text-decoration: line-through;
    color: black;
  }

  &__image {
    width: 100px;
    height: 80px;
  }
  &__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  &__productInfo {
    width: 50%;
    text-align: left;
    margin-left: 20px;
    color: #636b6f;
    font-weight: 400;
    font-size: 13px;
  }
  &__title {
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    padding: 5px 0px;
    color:black;
  }
  &__description {
    padding: 5px 0;
  }
  &__realization {
    padding: 5px 0;
  }
  &__colors {
    font-weight: 600;
    padding: 2px 0;
  }
  &__eachPrice,
  &__totalPrice {
    font-size: 12px;
    color: black;
    padding: 10px 10px;
  }
  &__priceBox {
    width: 100%;
    text-align: right;
    span {
      margin-left: 0;
    }
  }
  span {
    margin-left: 10px;
  }
}
