@import '../../../styles/settings.scss';
.whyUs {
padding:20px;
&__title {
  color:black;
  padding:10px 0;
  border-bottom: 2px solid $color-gray;
  font-weight: 500;
}
&__box {
  margin:20px 0 40px;
}
&__header{
  display: flex;
  padding:15px 0;
}
&__icon {
  font-size: 22px;
  margin:0 10px;
}
&__boxTitle {
  text-transform: uppercase;
  color:black;
  font-weight: 500;
}
&__description {
  text-align: left;
  line-height: 1.4;
}
}