@import "../../../../styles/settings.scss";

.galerySlider {
  padding: 20px;
  &__content {
    background-color: white;
    overflow: hidden;
    position: relative;
  }
  &__wrapper {
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    display: flex;
  }
  &__imageBox {
    position: relative;
    padding: 5px;
  }
  &__img {
    margin-right: 10px;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  &__icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-size: 48px;
  }
  &__arrowBox {
    position: absolute;
    width: 100%;
    top: 50%;
  }
}
