.alert {
  width: 85%;
  color: red;
  text-align: center;
  &__smallError {
    font-size: 12px;
    margin-bottom: 5px;
  }
  &__error {
    padding: 10px 20px 20px;
    line-height: 1.6;
    text-align: center;
  }
  &__success {
    padding: 10px 20px 20px;
    line-height: 1.6;
    color: black;
  }
  &__btn {
    margin-bottom: 20px;
  }
}
