@import "../../../styles/settings.scss";

.headerPage {
  text-align: center;
  padding: 0 20px;
  text-transform: initial;
  font-size: 28px;
  color: black;
  &__title {
    padding: 20px;
    border-bottom: 2px solid $border-gray;
  }
}
