.adressForm {
  padding: 20px;
  &__fieldset {
    border: none;
  }
  &__legend {
    text-align: center;
    color: black;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
    padding: 20px 0;
  }
  &__person {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  &__deliveryBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 0;
  }
  &__description {
    width: 50%;
    color: black;
    text-align: left;
    font-size: 14px;
    vertical-align: middle;
  }
  &__products {
    display: none;
  }
}
@media (min-width: 768px) {
  .adressForm {
    display: flex;

    &__products {
      display: block;
      width: 70%;
    }
  }
}
@media (min-width: 1024px) {
  .adressForm {
    display: flex;
    max-width: 1024px;
    margin: 0 auto;
    &__form {
      width: 70%;
    }
    &__products {
      display: block;
      width: 50%;
    }
  }
}
