.adressForm {
  padding: 20px;
  &__fieldset {
    border: none;
  }
  &__legend {
    text-align: center;
    color: black;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
    padding: 20px 0;
  }
  &__person {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  &__deliveryBox {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 20px auto;
  }
  &__description {
    width: 50%;
    color: black;
    text-align: left;
    font-size: 14px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
  &__products {
    display: none;
  }
  &__icon {
    font-size: 32px;
    margin-right: 10px;
  }
}
@media (min-width: 768px) {
  .adressForm {
    display: flex;
    &__products {
      display: block;
      width: 70%;
    }
  }
}
@media (min-width: 1024px) {
  .adressForm {
    &__deliveryBox {
      width: 80%;
    }
    display: flex;
    max-width: 1024px;
    margin: 0 auto;
    &__form {
      width: 70%;
    }
    &__products {
      display: block;
      width: 50%;
    }
  }
}
