.mainLayout {
  overflow: hidden;
  position: relative;
}
.webChat {
  z-index: 1000;
  position: fixed;
  border: none;
  bottom: 70px;
  right: 0;
  height: 450px;
  width: 320px;
  transform: translateX(100%);
  opacity: 0;
  transition: 0.3s linear all;
  &--active {
    opacity: 1;
    transform: translateX(0%);
  }
}
