@import "../../../../styles/settings.scss";

.nav {
  position: absolute;
  top: 0;
  right: 0;
  background-color: white;
  z-index: 1000;
  height: 100vh;
  padding: 20px;
  text-align: right;
  color: black;
  width: 70vw;
  transform: translateX(100%);
  transition: 0.3s linear all;
  &__active {
    transform: translateX(0%);
  }

  a {
    color: black;
    text-decoration: none;
  }
  &__icon {
    color: $color-darkGray;
  }
  &__link {
    text-align: left;
    list-style-type: none;
    padding: 10px 0;
    width: 100%;
  }
  &__list {
    display: flex;
    flex-direction: column;
  }
  &__sub {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
  }
  &__subLink {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 10px 5px;
  }
}
.allCategories {
  color: white;
  cursor: pointer;
  padding: 10px 15px;
  background-color: #e09654;
  font-weight: 600;
  height: 100%;
  &__desktop {
    display: none;
  }
  &__icon {
    display: none;
    vertical-align: middle;
  }
}
.category {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #1c1c1c;
  z-index: 1000;
  height: 100vh;
  padding: 30px 0;
  text-align: right;
  color: white;
  width: 80%;
  transform: translateX(-100%);
  transition: 0.3s linear all;
  &__active {
    transform: translateX(0%);
  }
  a {
    color: #ffffff;
    text-decoration: none;
  }
  &__list {
    text-align: left;
    list-style-type: none;
    padding: 10px 0;
    width: 100%;
  }
  &__link {
    border-bottom: 1px solid #363636;
    padding: 10px 25px;
    width: 100%;
    font-size: 13px;
    font-weight: 400;
  }
}

@media (min-width: 768px) {
  .allCategories {
    padding: 15px 15px 10px;
    &__icon {
      display: inline-block;
      margin-bottom: 2px;
    }
    &__mobile {
      width: 30%;
      display: none;
    }
    &__desktop {
      width: 25%;
      font-size: 12px;
      display: block;
    }
  }
  .category {
    transform: translateX(0);
    top: 0;
    left: 0;
    width: 200px;
    padding: 0;
    height: 0px;
    display: block;
    visibility: hidden;
    max-height: 323px;
    transition: 0.5s linear all;
    &--active {
      height: 325px;
      visibility: visible;
    }
    &__list {
      height: 0px;
      visibility: hidden;
      overflow: hidden;
      padding: 0;
      max-height: 323px;
      transition: 0.5s linear all;
    }
    &__list--active {
      height: 323px;
      visibility: visible;
    }
    &__desktop {
      display: block;
      position: relative;
    }
  }
  .nav {
    position: static;
    height: auto;
    background-color: transparent;
    transition: 0s linear all;
    padding: 0 20px;
    transform: translateX(0%);
    width: 100%;
    margin: 0 auto;
    &__section {
      width: 100%;
    }
    &__list {
      flex-direction: row;
      a {
        font-size: 14px;
        color: white;
        &:hover {
          color: $color-orange;
        }
      }
    }
    &__button {
      display: none;
    }
  }
}

@media (min-width: 1024px) {
  .nav {
    width: 85%;
    margin: 0;
    &__list {
      a {
        font-size: 14px;
      }
    }
    &__section {
      width: 60%;
    }
    &__link {
      padding: 15px 0;
    }
  }
  .allCategories {
    text-align: center;
    padding: 15px 0;
    font-size: 14px;
    &__desktop {
      width: 15%;
    }
  }
}
