@import "../../../../styles/settings.scss";

.banner {
  padding: 0 20px;
  min-height: 115px;
  max-width: 1260px;
  margin: 20px auto;
  &__image {
    position: relative;
    height: 100%;
  }
  &__img {
    width: 100%;
    height: 100%;
    min-height: 115px;
    object-fit: cover;
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px;
    position: absolute;
    top: 0;
    left: 20px;
    height: 100%;
  }
  &__title {
    margin: 10px 0;
    font-size: 16px;
    color: white;
  }
  &__description {
    font-size: 13px;
    color: $color-secondGray;
  }
  &__button {
    outline: none;
    position: relative;
    margin: 10px 0;
    padding: 5px 0;
    border: none;
    background-color: transparent;

    a {
      color: $color-orange;
      text-decoration: none;
    }
    &::after {
      position: absolute;
      background-color: $color-orange;
      left: 0;
      right: 0;
      bottom: 0;
      height: 1px;
      content: "";
    }
  }
}
.doubleBanner {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .doubleBanner {
    flex-direction: row;
    &--shadow {
      box-shadow: -85px -55px 9px -80px rgba(0, 0, 0, 0.2),
        85px -55px 9px -80px rgba(0, 0, 0, 0.2);
      transform: translateY(-20%);
      background-color: #f2f2f2;
      padding: 10px 10px;
      margin: 0 10px;
    }
  }
  .banner {
    &__title {
      margin: 15px 0;
      font-size: 18px;
    }
    &__description {
      font-size: 14px;
    }
  }
}
@media (min-width: 1440px) {
  .doubleBanner {
    max-width: 1260px;
    margin: 0 auto;
  }
  .banner {
    &__title {
      margin: 15px 0;
      font-size: 22px;
    }
    &__description {
      font-size: 18px;
    }
    &__wrapper {
      padding: 30px;
    }
    &__button {
      font-size: 22px;
    }
  }
}
