@import "../../../../styles/settings.scss";

.galery {
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  max-width: 1220px;
  margin: 0 auto;
  position: relative;
  cursor: pointer;
  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__foto {
    position: relative;
    height: 120px;
    margin: 2px 0;
  }
  &__bg {
    z-index: 1;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 0.4s linear all;
    &:hover {
      background-color: rgba($color: #000000, $alpha: 0.5);
      .galery__text {
        opacity: 1;
      }
      .galery__text::after {
        width: 50%;
      }
    }
  }
  &__text {
    width: 100%;
    position: absolute;
    top: 50%;
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    transform: translateY(-50%);
    padding: 10px 10px;
    line-height: 1.5;
    color: white;
    opacity: 0;
    transition: 0.4s linear all;
    &:after {
      content: "";
      left: 0px;
      bottom: -5px;
      height: 1px;
      width: 0;
      position: absolute;
      background-color: $color-darkGray;
      transition: 0.4s linear all;
    }
  }
}
@media (min-width: 768px) {
  .galery {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    &__foto {
      max-height: 200px;
      width: calc(100% / 3 - 10px);
    }
  }
}
