@import "../../../styles/settings.scss";

.checkout {
  &__header {
    text-transform: initial;
    text-align: center;
    padding: 20px 20px 0;
    font-size: 14px;
  }
}

.payment {
  padding: 20px;
}

.buttons {
  margin: 20px 0;
  &__btn,
  &__dark {
    width: 100%;
    text-transform: uppercase;
  }
  &__dark {
    border-radius: 0;
    box-shadow: none;
  }
}
