.nav {
  position: absolute;
  top: 0;
  right: 0;
  background-color: white;
  z-index: 1000;
  height: 100vh;
  padding: 20px;
  text-align: right;
  color: black;
  width: 70vw;
  transform: translateX(100%);
  transition: 0.3s linear all;
  &__active{
    transform: translateX(0%);
  }
  a {
    color: black;
    text-decoration: none;
  }
  &__link {
    text-align: left;
    list-style-type: none;
    padding: 10px 0;
    width: 100%;
  }
  &__list {
    display: flex;
    flex-direction: column;
  }
  &__sub {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
  }
  &__subLink {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 10px 5px;
  }
}
