.paymentMethod {
  &__title {
    color: black;
    font-weight: 500;
  }
  &__img {
    width: 100px;
    height: auto;
    vertical-align: bottom;
  }
  &__box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 0;
  }
  &__description {
    font-weight: 300;
    margin-right: 10px;
  }
}
.payment {
  &__products {
    display: none;
  }
}
@media (min-width: 768px) {
  .payment {
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    &__products {
      display: block;
      width: 50%;
    }
  }
}
@media (min-width: 1024px) {
  .payment {
    max-width: 1024px;
    display: flex;
    &__cart {
      width: 70%;
    }
    &__products {
      display: block;
      width: 50%;
    }
  }
}
