@import "../../../../styles/settings.scss";

.paymentSummary {
  &__summaryDetail {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    color: black;
    font-size: 14px;
  }
  &__summaryDetail--center {
    justify-content: center;
  }
  &__summaryBox {
    padding: 10px 20px;
    margin: 0 20px;
    border-bottom: 1px solid $border-darkGray;
  }
  &__buttonBox {
    padding: 10px 20px;
    text-align: right;
  }
}
@media (min-width: 1024px) {
  .paymentSummary {
    display: flex;
    justify-content: center;
    max-width: 1220px;
    margin: 20px auto;
    &__details {
      width: 30%;
    }
    &__products {
      width: 70%;
    }
  }
}
