@import "../../../../styles/settings.scss";
.brands {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 20px;
  overflow: hidden;
  &__slide {
    width: 100%;
    text-align: center;
    padding: 20px;
    opacity: 0.3;
    transition: 0.3s linear all;
    &:hover {
      color: black;
      opacity: 1;
    }
  }
}
