@import "../../../../styles/settings.scss";

.galerySlider {
  padding: 20px;
  margin: 0px auto;
  max-width: 1220px;
  &__content {
    overflow: hidden;
    position: relative;
    margin-bottom: 5px;
  }
  &__wrapper {
    display: flex;
    height: 100%;
  }
  &__imageBox {
    position: relative;
    padding: 5px;
  }
  &__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  &__icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-size: 48px;
  }
  &__arrowBox {
    position: absolute;
    width: 100%;
    top: 50%;
  }
}
@media (min-width: 768px) {
  .galerySlider {
    height: 100%;
    &__content {
      height: 90%;
    }
    &__icon {
      color: white;
    }
    &__img {
      width: calc(50vw - 30px);
    }
  }
}
@media (min-width: 1024px) {
  .galerySlider {
    &__img {
      width: calc(100vw / 3 - 23px);
    }
  }
}
@media (min-width: 1220px) {
  .galerySlider {
    &__img {
      width: calc(1220px / 3 - 23px);
    }
  }
}
