@import "../../../../styles/settings.scss";

.images {
  overflow: hidden;
  &__wrapper {
    margin-top: 20px;
    margin-bottom: 5px;
    position: relative;
    overflow: hidden;
    &:hover {
      .images__arrows {
        opacity: 1;
      }
    }
  }
  &__imageBox {
    overflow: hidden;
  }
  &__img {
    transition: 1s linear all;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 1;
    &--active {
      opacity: 1;
    }
  }

  &__arrows {
    height: 80%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0px;
    right: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    transition: 0.3s linear all;
    opacity: 0;
  }
  &__left,
  &__right {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 5%;
    background-color: $color-orangeLight;
  }
  &__left {
    left: 0;
  }
  &__right {
    right: 0px;
  }
  &__icon {
    cursor: pointer;
    transition: 0.1s linear all;
    color: transparent;
    font-size: 28px;
    border-radius: 50%;
    color: white;
  }
  &__box {
    position: relative;
    &:hover {
      .images__arrows {
        opacity: 1;
      }
    }
  }
  &__border {
    position: absolute;
    border: 4px solid $color-orange;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    width: calc(95% / 3);
  }

  &__slider {
    display: flex;
    justify-content: space-between;
  }
  &__eachFoto {
    cursor: pointer;
    object-fit: contain;
    width: calc(95% / 3);
  }
}
@media (min-width: 768px) {
  .images {
    &__wrapper {
      margin-top: 30px;
    }
  }
}
@media (min-width: 1024px) {
  .images {
    &__wrapper {
      margin-top: 0px;
    }
  }
}
