@import "../../../../styles/settings.scss";
.arrow {
  &__next,
  &__prev {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 5%;
    padding: 0;
    transform: translate(0, -50%);
    color: transparent;
    background-color: transparent;
    border: none;
  }
  .arrowIcon {
    cursor: pointer;
    font-size: 22px;
    color: black;
  }
  &__next {
    top: -20px;
    right: 0px;
  }
  &__prev {
    top: -20px;
    right: 30px;
  }
}
.slick-dots {
  margin: 0;
}
