@import "../../../styles/settings.scss";

.button {
  background-color: $color-orange;
  color: white;
  padding: 10px 20px;
  border: none;
  font-size: 14px;
  overflow: none;
  &:hover {
    background-color: black;
  }
  a {
    color: white;
    text-decoration: none;
  }
  &--dark {
    background-color: black;
    margin: 10px 0;
    border-radius: 3px;
    box-shadow: 0 2px 4px 0 rgba($color: #000000, $alpha: 0.2);
    &:hover {
      background-color: $color-orange;
    }
  }
  &--small {
    min-width: 20px;
    width: 20px;
    height: 20px;
    margin: 0px 2px;
    padding: 5px 5px 0;
    font-size: 10px;
  }
}
