@import "../../../../styles/settings.scss";

.empty {
  line-height: 50vh;
  text-align: center;
  max-width: 1220px;
  margin: 0 auto;
}

.wish {
  padding: 20px;
  max-width: 1220px;
  margin: 0 auto;

  &__product {
    padding: 10px 0 0;
    display: flex;
    flex-direction: row;
    border: 0.5px solid #a6a6a6;
    background-color: white;
    position: relative;
  }
  &__product--out {
    border: 1px solid red;
  }
  &__out {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: rotate(-35deg) translate(-30%, -200%);
    font-weight: 700;
    color: red;
    font-size: 42px;
  }
  &__images {
    flex-basis: 30%;
    padding: 10px;
  }
  &__discount {
    position: absolute;
    color: $color-orange;
    top: 15px;
    font-weight: 500;
    font-size: 24px;
    right: 10px;
  }
  &__img {
    width: 80px;
  }

  &__title {
    width: 70%;
    color: black;
    text-align: left;
    padding: 0 0 20px;
    font-weight: 400;
  }
  &__priceBox {
    display: flex;
    justify-content: space-between;
    color: $color-orange;
  }
  &__status {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    color: red;
  }
  &__status--available {
    color: green;
  }
  &__remove {
    text-align: right;
  }
  &__icon {
    height: 30px;
    min-width: 30px;
    padding: 0;
    font-size: 12px;
    box-shadow: none;
    border-radius: 0;
  }
  &__info {
    display: flex;
    flex-direction: column;
    flex-basis: 70%;
    padding: 10px;
  }
  &__buttonBox {
    text-align: center;
  }
  &__button {
    box-shadow: none;
    border-radius: 0;
  }
  &__button--disable {
    opacity: 0.2;
  }
}
@media (min-width: 768px) {
  .wish {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    &__wrapper {
      margin: 0 10px;
      width: calc(50% - 40px);
    }
    &__product {
      width: 100%;
    }
  }
}
