.register {
  padding:0 10px;
   &__fildset {
     border:none;
     display: flex;
     flex-direction: column;
     justify-content: center;
     max-width: 320px;
     margin:10px auto;
   }
   &__progress {
     font-size: 14px;
     margin:10px 0;
     color:black;
   }
   &__description {
     padding:10px 0;
   }
   &__strength {
     text-align: center;
    margin:10px 0;
    text-transform: capitalize;
  }
  &__progressBar {
    width:100%
  }
  &__button {
    margin:10px 0;
  }
  &__error {
    color:red;
    font-size: 12px;
    margin-bottom:5px;
  }
}