@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/*Font-Colors*/
$color-text: #e09654;
$color-gray: #dedede;
$color-darkGray: #828282;
$color-smokeWhite: #ffffff;

/* Bacground-color*/
$bgc-gray: #f9f9f9;

/*Font-Family*/
$font-family: 'Poppins', sans-serif;
/*Border-Colors*/
$border-gray: #dcdcdc;
$border-darkGray: #bbb;
