@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

/*Font-Colors*/
$color-orange: #e09554;
$color-orangeLight: #e0955485;
$color-gray: #dedede;
$color-darkGray: #828282;
$color-smokeWhite: #ffffff;
$color-secondGray: #bebebe;
$color-thirdGray: #636b6f;
$color-star: #f49e00;

/* Bacground-color*/
$bgc-gray: #f9f9f9;
$bgc-smokeWhite: #ffffff;
$bgc-black: #1c1c1c;

/**/
/*Font-Family*/
$font-family: "Poppins", sans-serif;
/*Border-Colors*/
$border-gray: #dcdcdc;
$border-darkGray: #bbb;
