.checkedFild{
  color:black;
  display: flex;
  justify-content: baseline;
  align-items: baseline;
  &__input {
    margin: 10px 10px 10px 0;
  }
}
.checkedRead {
  width:100%;
  &__title {
    text-transform: capitalize;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    color:black;
    cursor: pointer;
  }
  &__description {
    padding:20px;
  }
  &__show {
    display: block;
  }
  &__hide {
    display: none;
  }
}