@import "../../../styles/settings.scss";

.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  opacity: 0;
  visibility: hidden;
  justify-content: center;
  align-items: center;
  z-index: 999999;
  background-color: rgba($color: #000000, $alpha: 0.2);
  transition: 0.3s linear all;
  &__content {
    position: relative;
    max-width: 500px;
    width: 100%;
    background-color: white;
    transition: 0.3s ease-in-out all;
    outline: none;
  }
  &__content--full {
    align-items: flex-start;
    justify-content: flex-end;
  }
  &__header {
    font-size: 14px;
    text-align: center;
    margin: 20px 0 0px;
    padding: 10px;
  }
  &__icon {
    position: absolute;
    top: 0;
    right: 0;
    margin: 5px;
    color: black;
    font-size: 18px;
  }
  &__title {
    font-weight: 700;
    letter-spacing: 1.6px;
    color: black;
  }
  &__footer {
    padding: 0 10px;
    border-top: 1px solid $color-gray;
    text-align: right;
  }
  &--show {
    visibility: visible;
    opacity: 1;
  }
}
