@import "../../../../styles/settings.scss";

.myAccount {
  max-width: 1220px;
  margin: 0 auto 20px;
  position: relative;
  &__entryTitle {
    margin: 10px 20px 0;
    padding: 10px;
    text-align: center;
    color: black;
    background-color: white;
  }
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: black;
    margin: 5px 0;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    cursor: pointer;
  }
  &__title {
    font-size: 14px;
    font-weight: 500;
  }
  &__icon {
    font-size: 22px;
  }
  &__aside {
    border-radius: 10px 0px 0px 10px;
    margin: 10px 0 0 20px;
    background-color: #1c1c1c;
    display: none;
  }
  &__option {
    font-size: 13px;
    display: flex;
    justify-content: space-between;
    color: white;
    width: 170px;
    padding: 20px;
    cursor: pointer;
  }
  &__option--active {
    border-right: 4px solid $color-orange;
  }
}

@media (min-width: 768px) {
  .myAccount {
    display: flex;
    flex-direction: row;
    margin: 10px auto;
    &__entryTitle {
      text-align: left;
    }
    &__aside {
      display: block;
      min-height: 700px;
    }
    &__icon {
      display: none;
    }
  }
}
