.operation {
  padding: 20px;
  &__title {
    color: black;
    font-size: 22px;
    margin-bottom: 15px;
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: white;
  }
  &__description {
    color: black;
    font-weight: 300;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 1.6;
  }
  &__btn {
    width: 100%;
  }
}
