@import "../../../../styles/settings.scss";

.orders {
  padding: 10px;
  background-color: white;
  margin: 0px 20px;
  overflow: hidden;
  &__wrapper {
    display: none;
  }
  &__wrapper--active {
    display: block;
  }

  &__filtr {
    color: black;
    font-size: 10px;
    margin-left: 2px;
    padding: 2px 5px;
    border-radius: 5px;
    border: 1px solid $border-gray;
  }
  &__filter--active {
    background-color: $color-orange;
    color: white;
  }
  &__add {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
  }
  &__input {
    padding: 0 10px;
    margin: 10px;
    &::placeholder {
      font-size: 12px;
    }
  }
  &__button {
    padding: 10px;
  }
  &__description {
    color: black;
    font-size: 14px;
  }
  &__error {
    color: red;
    font-size: 12px;
  }
}
@media (min-width: 550px) {
  .orders {
    &__add {
      flex-direction: row;
      justify-content: flex-start;
      align-items: stretch;
      margin: 10px 0;
    }
    &__input {
      margin: 0;
    }
    &__button {
      padding: 0 10px;
      margin: 0 10px;
    }
    &__description {
      margin: 10px 10px 10px 0px;
      color: black;
      font-size: 14px;
    }
  }
}
@media (min-width: 768px) {
  .orders {
    width: 100%;
    margin: 10px 20px 0 0;
    padding: 20px;
    border-radius: 0px 10px 10px 0px;
    display: none;
    &--active {
      display: block;
    }
    &__wrapper {
      display: block;
    }
  }
}
