@import "../../../../styles/settings.scss";

.personalData {
  margin: 20px 20px 10px;
  padding: 10px;
  background-color: white;

  &__content {
    margin: 20px 0 10px;
    display: none;
  }
  &__content--active {
    display: block;
  }
  &__title {
    font-size: 18px;
    font-weight: 400;
  }
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: black;
    margin: 5px 0;
  }
  &__icon {
    font-size: 22px;
  }
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    margin: 0 0 10px;
  }
  &__wrapper--half {
    display: inline-block;
    width: calc(50% - 5px);

    &:nth-of-type(odd) {
      margin-left: 10px;
    }
    &:first-of-type {
      margin-left: 0;
      margin-right: 10px;
    }
  }
  &__field {
    padding: 0px 20px;
  }
  &__label {
    width: 100%;
    font-size: 12px;
    text-align: left;
    color: black;
  }
  &__input {
    margin: 10px 0;
    padding: 10px 10px;
    width: 100%;
    font-size: 14px;
    background-color: transparent;
    border: none;
    color: black;
    border: 1px solid $color-gray;
    border-radius: 10px;
    outline: none;
    &::placeholder {
      font-size: 10px;
    }
    &:disabled {
      background-color: #dddddd;
    }
  }
  &__buttonBox {
    font-size: 14px;
    border: none;
    width: 100%;
    border-radius: 0;
    box-shadow: none;
    text-align: right;
  }
  &__button {
    width: 100px;
  }
}

@media (min-width: 768px) {
  .personalData {
    width: 100%;
    margin: 10px 20px 0 0;
    padding: 20px;
    border-radius: 0px 10px 10px 0px;
    display: none;
    &--active {
      display: block;
    }
    &__content {
      display: block;
      width: 60%;
      margin-left: 20px;
    }
    &__icon {
      display: none;
    }
  }
}
