@import "../../../../styles/settings.scss";

.wishItems {
  padding: 10px;
  overflow: hidden;
  background-color: white;
  margin: 10px 20px;
  &__wrapper {
    display: none;
  }
  &__wrapper--active {
    display: block;
  }
  &__product {
    border: 1px solid $border-gray;
    max-width: 334px;
    margin: 15px auto;
    display: flex;
    justify-content: space-between;
    text-align: center;
  }
  &__img {
    width: 100px;
  }
  &__imageBox {
    width: 50%;
    padding: 20px 10px;
  }
  &__info {
    margin-right: 10px;
    width: 50%;
    display: flex;
    flex-direction: column;
  }
  &__title {
    color: black;
    margin: 20px 5px 10px;
  }
  &__price,
  &__discount {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    margin: 5px;
    color: black;
  }
  &__buttonBox {
    display: flex;
    justify-content: flex-end;
  }
  &__button {
    padding: 5px 10px;
    margin: 10px 5px;
  }
  &__icon {
    font-size: 10px;
  }
  &__empty {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__emptyDescription {
    padding: 10px;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 25px;
  }
}
@media (min-width: 768px) {
  .wishItems {
    width: 100%;
    margin: 10px 20px 0 0;
    padding: 20px;
    border-radius: 0px 10px 10px 0px;
    display: none;
    &__product {
      max-width: 100%;
    }
    &__info {
      margin-right: 0;
      flex-direction: row;
      align-items: stretch;
      width: auto;
      width: 70%;
    }
    &__title,
    &__price,
    &__discount {
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin: 20px 10px;
      line-height: 20px;
      width: 100%;
    }
    &__title {
      margin: 20px 10px;
      padding: 0 10px;
      border-right: 1px solid $border-gray;
      border-left: 1px solid $border-gray;
    }
    &__imageBox {
      width: auto;
      margin: 0 auto;
    }

    &__buttonBox {
      margin: 20px 0px 20px 0px;
      padding: 0 5px;
      border-left: 1px solid $border-gray;
    }
    &__button {
      height: 30px;
      margin: 20px 5px;
    }
    &--active {
      display: block;
    }
    &__wrapper {
      display: block;
    }
  }
}
